div{
    background-color: transparent;
    height: 200px;
    width: 500px;
    margin: 0 auto;
    border-radius: 20q;
    align-items: center;
    border: 5q solid gray;
}
.box{
    background-color: rgb(230, 225, 218);
    height: 80px;
    width: 80px;
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 30px;
    border-radius: 13%;
    border: grey 3px solid ;
    cursor: pointer;
}
.not{
    float: right;
    font-size: 3rem;
    margin-right: 30px;
    align-items: center;
    margin-top: 70px;
    
}
body>p{
    text-align: center;
}